<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mentors</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <th:block th:replace="fragments/navbar :: navbar"></th:block>
    
    <div class="container">
        <h2>Mentors</h2>
        <a href="/mentor/create" class="btn">Add Mentor</a>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Expertise</th>
                <th>Actions</th>
            </tr>
            <tr th:each="mentor : ${mentors}">
                <td th:text="${mentor.id}"></td>
                <td th:text="${mentor.name}"></td>
                <td th:text="${mentor.email}"></td>
                <td th:text="${mentor.expertise}"></td>
                <td>
                    <a th:href="@{'/mentor/edit/' + ${mentor.id}}" class="btn">Edit</a>
                    <a th:href="@{'/mentor/delete/' + ${mentor.id}}" class="btn" 
                       onclick="return confirm('Are you sure you want to delete this mentor?');">Delete</a>
                </td>
            </tr>
        </table>
    </div>
    
    <div class="footer">
        &copy; 2025 MentorLink. All Rights Reserved.
    </div>
</body>
</html>
